.cards {
  width: 90%;
  max-width: 1236px;
  margin: 0 auto 120px;
}

.cards__title {
  margin-bottom: 24px;
  text-align: left;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.5px;
}

.cards__title_weight_normal {
  font-weight: 400;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;
  list-style-type: none;
}
