.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__img {
  width: 100%;
}

.card__text-block {
  width: 95%;
  max-width: 360px;
  margin: 17px auto 0;
}

.card__title {
  text-align: left;
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.5px;
}

.card__subtitle {
  margin-top: 10px;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}
