.favorites {
  max-width: 1236px;
  margin: 0 auto;
  padding: 119px 0 142px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorites__title {
  max-width: 210px;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: .5px;
}

.favorites__links {
  margin-top: 32px;
  padding-bottom: 9px;
  min-width: 526px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.favorites__link {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #212A2F;
}

.favorites__link::before {
  content: '';
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.35s;
}

.favorites__link:hover {
  font-weight: 700;
}

.favorites__link:hover::before {
  width: 161px;
}

.favorites__items {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 1236px;
  padding: 34px 0 0 0;
  list-style-type: none;
  border-top: 2px solid #D3D4D5;
}

.favorites__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item__block {
  width: 100%;
  height: 396px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item__block_cozy {
  background-image: url(../../images/favorites__everyday1.svg);
}

.item__block_breezy {
  background-image: url(../../images/favorites__everyday2.svg);
}

.item__block_rain {
  background-image: url(../../images/favorites__everyday3.svg);
}

.item__img {
  width: 100%;
  height: 100%;
}

.item__button {
  width: 276px;
  height: 48px;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: opacity .2s ease-out;
}

.item__button:hover {
  opacity: .8;
}

.item__button:last-child {
  margin-bottom: 0;
}

.item__title {
  position: relative;
  margin: 17px 0 0 30px;
  width: 336px;
  left: 0;
  text-align: left;
}

.item__title::before {
  content: '';
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 1px;
  background-color: #D3D4D5;
}

.item__signatire {
  display: flex;
  align-items: center;
  margin: 22px 0 0 30px;
}

.signatire__icon {
  width: 30px;
  height: 30px;
  margin: 0 12px 0 0;
}


